body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #2C3E50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

h2 {
    color: #34495E;
}

section {
    margin: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: #2C3E50;
    color: white;
}
